# -------------------------------------------------
# R / RStudio
# -------------------------------------------------
.Rhistory
.RData
.Ruserdata
.Rproj.user

# -------------------------------------------------
# Rendered outputs
# -------------------------------------------------


# -------------------------------------------------
# OS / Editor artefacts
# -------------------------------------------------
.DS_Store
*.swp
*.swo
*~

# -------------------------------------------------
# Temporary / cache files
# -------------------------------------------------
cran_pkgs_before_upgrade.rds

